<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="Edapt CDO Target" sequenceNumber="1626420383">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="2.1.2.201310031412"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="2.1.2.201310031412"/>
      <unit id="org.eclipse.emf.compare.source.feature.group" version="2.1.2.201310031412"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="2.1.2.201310031412"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="2.1.2.201310031412"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="2.1.2.201310031412"/>
      <repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/2.1"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.rcp.source.feature.group" version="4.8.0.v20180611-0656"/>
      <unit id="org.eclipse.pde.api.tools.ee.feature.feature.group" version="1.0.300.v20180221-1224"/>
      <unit id="org.eclipse.releng.tools.feature.group" version="3.10.0.v20180512-1134"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.14.0.v20180518-2029"/>
      <unit id="org.eclipse.sdk.ide" version="4.8.0.I20180611-0500"/>
      <unit id="org.eclipse.platform.sdk" version="4.8.0.I20180611-0500"/>
      <unit id="org.eclipse.test.feature.group" version="3.7.300.v20180524-2246"/>
      <unit id="org.eclipse.sdk.tests.feature.group" version="4.8.0.v20180611-0500"/>
      <unit id="org.eclipse.platform.ide" version="4.8.0.I20180611-0500"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.8.0.v20180611-0656"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.8"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.ocl.master.feature.group" version="6.3.0.v20170613-1432"/>
      <unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.3.0.v20170607-1133"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="6.3.0.v20170613-1432"/>
      <repository location="http://archive.eclipse.org/modeling/mdt/ocl/updates/releases/6.3.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.xcore.ui.feature.group" version="1.3.0.v20150602-0808"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="1.4.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.edit.ui.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="2.10.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.mapping.ecore.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.rap.edit.ui.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.oda.ecore.feature.group" version="1.3.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.11.0.v20150512-0501"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.ecore.xcore.feature.group" version="1.3.0.v20150602-0808"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.3.0.v20150602-0808"/>
      <unit id="org.eclipse.xsd.edit.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.all.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.oda.ecore.ui.feature.group" version="1.3.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.rap.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.ecore.editor.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.codegen.ui.feature.group" version="2.8.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.mapping.editor.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.mapping.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.doc.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.doc.feature.group" version="2.10.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.examples.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.oda.sdk.feature.group" version="1.4.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.common.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.rap.common.ui.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.editor.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.oda.feature.group" version="1.3.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.edit.ui.feature.group" version="2.7.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.common.ui.feature.group" version="2.10.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.11.0.v20150512-0501"/>
      <unit id="org.eclipse.emf.mapping.ui.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.mapping.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.converter.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.ecore.converter.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.4.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.ecore.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.edit.feature.group" version="2.8.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.ecore.edit.feature.group" version="2.8.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150601-0402"/>
      <repository location="http://download.eclipse.org/modeling/emf/emf/updates/releases/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.examples.feature.group" version="3.2.2.v20120807-0831"/>
      <unit id="org.eclipse.acceleo.runtime.feature.group" version="3.2.2.v20120807-0831"/>
      <unit id="org.eclipse.acceleo.ui.capabilities.feature.group" version="3.2.2.v20120807-0831"/>
      <unit id="org.eclipse.acceleo.doc.feature.group" version="3.2.2.v20120807-0831"/>
      <unit id="org.eclipse.acceleo.feature.group" version="3.2.2.v20120807-0831"/>
      <unit id="org.eclipse.acceleo.sdk.feature.group" version="3.2.2.v20120807-0831"/>
      <repository location="http://download.eclipse.org/modeling/m2t/acceleo/updates/releases/3.2"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.junit" version="4.13.0.v20200204-1500"/>
      <unit id="org.objenesis" version="1.0.0.v201505121915"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20201130205003/repository/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.mockito.mockito-core-hamcrest-modified" version="1.9.5"/>
      <repository location="https://download.eclipse.org/rt/rap/base-platforms/3.14/extra-dependencies/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.cdo.compare.feature.group" version="4.2.0.v20130612-0849"/>
<unit id="org.eclipse.emf.cdo.defs.feature.group" version="4.2.1.v20130913-0613"/>
<unit id="org.eclipse.emf.cdo.doc.feature.group" version="4.2.0.v20130612-0849"/>
<unit id="org.eclipse.emf.cdo.examples.feature.group" version="4.2.0.v20130601-0759"/>
<unit id="org.eclipse.emf.cdo.examples.hibernate.feature.group" version="4.2.1.v20130813-1544"/>
<unit id="org.eclipse.emf.cdo.explorer.product.feature.group" version="4.1.100.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.feature.group" version="4.2.1.v20130913-0613"/>
<unit id="org.eclipse.emf.cdo.migrator.feature.group" version="4.2.0.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.releng.apireports.feature.group" version="1.0.0.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.releng.buildstamp.feature.group" version="1.1.0.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.releng.gitbash.feature.group" version="1.1.0.v20130529-1207"/>
<unit id="org.eclipse.emf.cdo.releng.help.feature.group" version="4.2.0.v20130612-0849"/>
<unit id="org.eclipse.emf.cdo.releng.launches.feature.group" version="1.1.0.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.releng.manifests.feature.group" version="1.1.0.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.releng.projectcopy.feature.group" version="1.1.0.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.releng.relativepaths.feature.group" version="1.1.0.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.releng.tasks.feature.group" version="1.1.0.v20130504-1740"/>
<unit id="org.eclipse.emf.cdo.releng.version.doc.feature.group" version="1.1.0.v20130612-0849"/>
<unit id="org.eclipse.emf.cdo.releng.version.feature.group" version="1.1.0.v20130601-1611"/>
<unit id="org.eclipse.emf.cdo.releng.version.headless.feature.group" version="1.1.0.v20130601-1611"/>
<unit id="org.eclipse.emf.cdo.releng.version.sdk.feature.group" version="1.1.0.v20130612-0849"/>
<unit id="org.eclipse.emf.cdo.releng.version.tests.feature.group" version="1.1.0.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.releng.windowtitle.feature.group" version="1.1.0.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.releng.winexplorer.feature.group" version="1.1.0.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.releng.workingsets.feature.group" version="1.1.0.v20130503-1908"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.2.1.v20130913-0613"/>
<unit id="org.eclipse.emf.cdo.server.db.feature.group" version="4.2.1.v20130811-0503"/>
<unit id="org.eclipse.emf.cdo.server.db4o.feature.group" version="4.2.0.v20130601-1611"/>
<unit id="org.eclipse.emf.cdo.server.feature.group" version="4.2.1.v20130913-0613"/>
<unit id="org.eclipse.emf.cdo.server.hibernate.feature.group" version="4.2.1.v20130911-1235"/>
<unit id="org.eclipse.emf.cdo.server.lissome.feature.group" version="4.2.1.v20130810-1101"/>
<unit id="org.eclipse.emf.cdo.server.mongodb.feature.group" version="4.2.0.v20130601-1611"/>
<unit id="org.eclipse.emf.cdo.server.objectivity.feature.group" version="4.2.0.v20130811-0646"/>
<unit id="org.eclipse.emf.cdo.server.product.feature.group" version="4.1.100.v20130531-1716"/>
<unit id="org.eclipse.emf.cdo.tests.feature.group" version="4.2.1.v20130913-0613"/>
<unit id="org.eclipse.emf.cdo.tests.hibernate.feature.group" version="4.2.1.v20130911-1235"/>
<unit id="org.eclipse.net4j.db.derby.feature.group" version="4.2.0.v20130601-1611"/>
<unit id="org.eclipse.net4j.db.feature.group" version="4.2.1.v20130730-0902"/>
<unit id="org.eclipse.net4j.db.h2.feature.group" version="4.2.0.v20130601-1611"/>
<unit id="org.eclipse.net4j.db.hsqldb.feature.group" version="4.2.0.v20130601-1611"/>
<unit id="org.eclipse.net4j.db.mysql.feature.group" version="4.2.0.v20130601-1611"/>
<unit id="org.eclipse.net4j.db.oracle.feature.group" version="1.0.0.v20130515-0529"/>
<unit id="org.eclipse.net4j.db.postgresql.feature.group" version="4.2.0.v20130601-1611"/>
<unit id="org.eclipse.net4j.defs.feature.group" version="4.2.1.v20130806-0658"/>
<unit id="org.eclipse.net4j.doc.feature.group" version="4.2.0.v20130612-0849"/>
<unit id="org.eclipse.net4j.examples.feature.group" version="4.2.0.v20130601-0759"/>
<unit id="org.eclipse.net4j.feature.group" version="4.2.1.v20130806-0658"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.2.1.v20130806-0658"/>
<unit id="org.eclipse.net4j.tests.feature.group" version="4.2.0.v20130503-1908"/>
<unit id="org.eclipse.net4j.ui.feature.group" version="4.2.0.v20130601-1611"/>
<unit id="org.eclipse.net4j.util.feature.group" version="4.2.0.v20130601-1611"/>
<unit id="org.eclipse.net4j.util.ui.feature.group" version="4.2.0.v20130730-0902"/>
<unit id="org.gastro.feature.group" version="4.2.0.v20130503-1908"/>
<repository location="http://download.eclipse.org/modeling/emf/cdo/updates/releases/4.2"/>
</location>
  </locations>
</target>